@model IEnumerable<Courses.Models.EntityViewModels.CourseViewModel>
<style>
    body {
        background-image: url("../../Content/Images/pencils-1280558_1920.jpg");
    }
</style>

<div class="col-md-10 col-lg-offset-3" style="margin-top: 20px;">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h1 class="panel-title">Courses (click item to learn more)</h1>
                </div>
                @if (User.IsInRole("Admin"))
                {
                <div class="col col-xs-6 text-right">
                    <a class="btn btn-sm btn-primary btn-create" href="/Admin/CreateCourse">Create new</a>
                </div>
                }
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("_ListTable", Model)
        </div>
    </div>
    <a href="/Home/Index" class="btn btn-primary">Home</a>
</div>