@model IEnumerable<Courses.Models.ApplicationUser>
@{
    ViewBag.Title = "Teachers";
}
<style>
    body {
        background-image: url("../../Content/Images/pencils-1280558_1920.jpg");
    }
</style>
<div class="col-md-10 col-lg-offset-3" style="margin-top: 20px;">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h1 class="panel-title">Our Teachers (click item to see courses)</h1>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("_TeacherTablePartialDisplay", Model)
        </div>
    </div>
</div>

