@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{ 
                var imgUrl = Url.Content("~/Content/Images/profile/" + User.Identity.GetUserName() + ".png") +
                    "?time=" + DateTime.Now.ToString();
            }
            <img src="@imgUrl" height="60" width="60" style="margin-top: 10px;"/>
        </li>
        <li>
            @{
                var role = "";
                role = User.IsInRole("Admin") ? "Admin" : "Student";
                if (User.IsInRole("Tutor") && User.IsInRole("Student")) {role = "Teacher";}
            }
            @Html.ActionLink(User.Identity.GetUserName() + " (" + role + ")", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
}
